* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2b2b2b;
    color: white;
}

.container {
    padding: 0 50px;
}

a {
    color: white;
    text-decoration: none;
}
a:hover {
    color: #a259ff;
}

.btn-singup {
    align-items: center;
    padding: 20px 50px;
    border-radius: 25px;
    background-color: #a259ff;
    color: white;
    border: none;
    display: flex;
    column-gap: 10px;
    font-weight: 500;
    z-index: 2;
}
.btn-singup:hover {
    align-items: center;
    padding: 20px 50px;
    border-radius: 25px;
    background-color: #a259ff;
    color: white;
    border: none;
    display: flex;
    column-gap: 10px;
    font-weight: 500;
    z-index: 2;
}
.btn-subscribe {
    align-items: center;
    padding: 10px 30px;
    border-radius: 15px;
    background-color: #a259ff;
    color: white;
    border: none;
    display: flex;
    column-gap: 10px;
    font-weight: 500;
    position: absolute;
    right: 0;
}
.btn-singin {
    padding: 10px 30px;
    border-radius: 15px;
    background-color: #a259ff;
    color: white;
    border: none;
    font-weight: 500;
    text-align: center;
    border: 1px #a259ff solid;
}
.btn-singin:hover {
    padding: 10px 30px;
    border-radius: 15px;
    background-color: #a259ff;
    color: white;
    border: none;
    font-weight: 500;
    text-align: center;
    border: 1px #a259ff solid;
}

.email_input {
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
    width: 320px;
}

.animated {
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
}

.flex {
    display: flex;
}

.flex_center {
    display: flex;
    justify-content: center;
}

.flex_between {
    display: flex;
    justify-content: space-between;
}
.flex_arround {
    display: flex;
    justify-content: space-around;
}

.hero_card {
    background-color: #3b3b3b;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_top {
    display: flex;
    justify-content: center;
    background-color: #363b3b;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card_bottom {
    padding: 20px;
}

.browse {
    padding: 80px 0;
}

.search_input {
    margin-top: 20px;
    border-radius: 15px;
    border: #3b3b3b 1px solid;
    padding: 10px 20px;
    background-color: #2b2b2b;
    color: rgb(224, 224, 224);
    flex: 2;
}

.btn-logout {
    align-items: center;
    margin-left: 29px;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #2b2b2b;
    color: white;
    border: 1px solid #a259ff;
    column-gap: 10px;
    font-weight: 500;
    display: flex;
    column-gap: 10px;
    z-index: -900;
    margin-top: -70px;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 2s;
}

.btn-handler:hover .btn-logout {
    transition: cubic-bezier(0.19, 1, 0.22, 1) 2s;
    margin-top: 10px;
}

.profile_cover_img {
    max-width: 100%;
    min-width: 100%;
}

.profile_avatar {
    margin-top: -65px;
}

.profile_info {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    position: relative;
}

.left_info {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}
.left_info_form {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.left_info_form input {
    padding: 5px 10px;
    border-radius: 20px;
    border: 2px dashed #363b3b;
    background-color: #2b2b2b;
    color: white;
    width: 100%;
}

.profile_name_form {
}

.profile-tabs {
    display: flex;
    justify-content: space-evenly;
}

.profile-tab {
    width: 100%;
    background-color: #2b2b2b;
    border: none;
    color: #4e4e4e;
    border-bottom: 1px solid #2b2b2b;
}

.active {
    border-bottom: 1px solid #4e4e4e;
    color: white;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 2s;
}

.save-btn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 15px;
    border-radius: 20px;
    background-color: #a259ff;
    border: none;
    width: 100px;
    color: white;
    font-weight: 500;
}

.manage {
    padding: 80px;
}

.card-pick {
    background-color: red;
    width: 300px;
    height: 300px;
}

/* Drag And Drop shit */
#form-file-upload {
    height: 300px;
    /* width: 28rem; */
    max-width: 100%;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.label-of-card{
    
}

.create-group-input{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.create-group-input input {
    border: #CBD5E1 1px dashed;
    border-radius: 20px;
    padding: 10px;
    background-color: #2B2B2B;
    color: white;
}

#input-file-upload {
    display: none;
}

#label-file-upload {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 2px;
    border-radius: 1rem;
    border-style: dashed;
    border-color: #cbd5e1;
    width: 35%;
    /* background-color: #f8fafc; */
}

#label-file-upload.drag-active {
    background-color: #4e4e4e;
}

.upload-button {
    cursor: pointer;
    padding: 0.25rem;
    font-size: 1rem;
    border: none;
    font-family: "Oswald", sans-serif;
    background-color: transparent;
    text-decoration-line: underline;
    color: white;
}

.upload-button:hover {
    text-decoration-line: none;
}

#drag-file-element {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}


.submit-btn-profile{
    max-width: 20%;
    margin: 0 auto;
    border: none;
    background-color: #a259ff;
    border-radius: 20px;
    padding: 15px 20px;
    color: white;
}

/* profile-cards */

.profile-cards {
    padding: 40px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px 30px;
    grid-template-areas:
        "item-1 item-2 item-3"
        "item-4 item-5 item-6"
        "item-7 item-8 item-9";
    justify-items: center;
    
}

.item-1 {
    grid-area: item-1;
}
.item-2 {
    grid-area: item-2;
}
.item-3 {
    grid-area: item-3;
}
.item-4 {
    grid-area: item-4;
}
.item-5 {
    grid-area: item-5;
}
.item-6 {
    grid-area: item-6;
}
.item-7 {
    grid-area: item-7;
}
.item-8 {
    grid-area: item-8;
}
.item-9 {
    grid-area: item-9;
}

.profile-card {
    text-align: center;
    width: 200px;
    padding: 2px;
}

.profile-card img {
    border-radius: 20px;
    max-width: 100%;
    
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    object-fit: cover;
}

.card-text{
    padding: 20px;
    text-align: left;
    border-radius: 20px;
    background-color: #2B2B2B;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

}

.author{
    display: flex;
    column-gap: 10px;
}

.card-top{
    position: relative;
}

.del-post-btn{
    position: absolute;
    right: 0;
    opacity: 0;
    padding: 20px 12px;
    border-radius: 20px;
    border: 1px solid #a259ff;
    background-color: #2B2B2B;
}

.card-top:hover .del-post-btn{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    opacity: 100;
}

.line-hor{
    border-radius: 50px;
    background-color: black;
    padding: 2px 10px;
    /* margin-top: 2.5px; */
    transform: rotate(-45deg);

}
.line-vert{
    border-radius: 50px;
    background-color: black;
    padding: 2px 10px;
    margin-top: -3px;

    transform: rotate(45deg);
}


.btn-view-rankings {
    align-items: center;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #2b2b2b;
    color: white;
    border: 1px solid #a259ff;
    font-weight: 500;
    display: flex;
    column-gap: 10px;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 2s;
}


.profile_avatar_manage {
    border-radius: 360px;
    margin-top: -65px;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;

}
.profile_avatar_manage:hover {
    border-radius: 360px;
    opacity: 20%;
    transition: cubic-bezier(0.19, 1, 0.22, 1) 1s;
    cursor: pointer;
}